.form{
    opacity: 95%;
}

.form__legend{
    background-color: #5a7b96;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.form__fieldset{
    border: 1px solid rgb(216, 233, 214);
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 8px 4px #464946;
}

.form__text{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin-left: 15px;
}

.form__field{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid grey;
}

.form__field:invalid{
    background-color: hsl(329, 25%, 92%);
}

.form__strongElement{
    display: inline-block;
    width: 100%;
    max-width: 400px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.form__submitButton{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #5a7b96;
    color: white;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 8px 4px #464946;
    transition: opacity, 100ms;
}

.form__submitButton:hover{
    opacity: 0.9;
}

.form__submitButton:active{
    opacity: 0.7;
}

.form__outputBox{
    text-align: center;
    font-size: 20px;
    color: rgb(10, 77, 77);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #5a7b96;
    color: white;
    font-size: 24px;
    box-shadow: 2px 2px 8px 4px #464946;
}